html, body {
    text-align: center;
    height: 100%;
    margin: 0;
    background-color: rgb(202, 182, 221);
}
#output{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

.btn{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: azure;
    background-color: rgb(26, 99, 99);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}

.btn:hover{
    background-color: rgb(15, 32, 32);
}